﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.card {
    transition: 0.3s;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom:20px
}
.card-header {
    background-color: rgba(0,0,0,.03);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height:50px;
    line-height:50px;
    padding-left:10px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-weight:500;
    font-size:20px
}
.card-body {
    margin: 15px 15px 15px 15px
}
.containerCard {
    padding: 2px 16px;
}
.alignRight{
    float:right
}
.margin-bottom-10{
    margin-bottom:10px
}
.margin-bottom-15{
    margin-bottom:15px
}
.margin-bottom-20 {
    margin-bottom: 20px
}
.margin-top-10 {
    margin-top: 10px
}

.margin-top-15 {
    margin-top: 15px
}

.margin-top-20 {
    margin-top: 20px
}
.center{
    text-align:center
}
.margin-left-10{
    margin-left:10px
}
.margin-left-15 {
    margin-left: 15px
}
.character-italic-small-right {
    font-size: 11px;
    font-style: italic;
    text-align: right
}
.name-comment {
    font-size: 14px;
    color: #3b5998;
    font-weight: bold
}
.div-comment {
    background-color: #f7f7f7;
    padding: 15px;
    margin-bottom: 10px
}
.div-name-author {
    font-weight: bold;
    font-size: 15px;
    text-align: right
}

