﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <h2> {{title}}</h2>
    <form [formGroup]="createCategoryForm" (submit)="saveCategory()" class="createcategory">
        <label for="name">Name</label>
        <input formControlName="name" id="name" class="form-control" />
        <control-messages [control]="createCategoryForm.controls.name" class="error-message"></control-messages>
        <label for="email">Description</label>
        <input formControlName="description" id="email" class="form-control" />
        <control-messages [control]="createCategoryForm.controls.description" class="error-message"></control-messages>

        <button type="submit" [disabled]="!createCategoryForm.valid" class="btn btn-primary" style="margin-top:10px">Save</button>
        <button  [routerLink]="['/managercategory']"  class="btn btn-success" style="margin-top:10px">Back List</button>
    </form>
</body>
</html>