﻿@model List<CategoryModel>;
 @{ 
     var start = 0;
     var end = Model.Count;
     var limit = 3;
 }
<div class="card">
  <div class="card-header">@Localizer["Categories"]</div>
  <div class="card-body">
    <div class="row">
      @while (start < end)
      {
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
              @if (end <= 3)
              {
                  @for (int i = 0; i <= end-1; i++)
                  {
                      <li>
                        <a  asp-action="Search" asp-controller="Post" asp-route-categoryId="@Model[i].Id">@Model[i].Name</a>
                      </li>
                  }
                //escape
                start = 3;

              }
              else
              {
                  @for (int i = start; i < limit; i++)
                  {
                      <li>
                        <a asp-action="Search" asp-controller="Post" asp-route-categoryId="@Model[i].Id">@Model[i].Name</a>
                      </li>
                  }
                {
                  start = limit;
                  if((end - limit) <=3)
                  { limit += end - limit; }
                  else { limit += 3; }

                }

              }
              
            </ul>
          </div>
      }
     

    </div>
  </div>
</div>

