﻿<br />
<div *ngIf="data" class="add-btn-postion">
    <div>
        <ng-container *ngFor="let hdrbtn of hdrbtns">
            <button *ngIf="!hdrbtn.ishide" type="button" class="btn btn-primary" (click)="click(hdrbtn,null)">{{hdrbtn.title}}</button>
        </ng-container>
        <button *ngIf="isExporttoCSV && (data!=null && data.length>0)" type="button" class="btn btn-primary" (click)="exporttoCSV()">Export to Excel</button>
    </div>
</div>

<div>
    <table class="table table-hover table-striped table-sortable" *ngIf='data ; else loadingScreen;'>
        <thead>
            <tr>
                <th *ngFor="let column of columns" [class]="selectedClass(column.variable)"
                    (click)="changeSorting(column.variable)">
                    {{column.display}}
                </th>
                <ng-container *ngFor="let btn of gridbtns">
                    <td *ngIf="!btn.ishide"></td>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of pdata | orderby : convertSorting()">
                <td *ngFor="let column of columns">
                    {{row[column.variable] | format : column.filter}}
                </td>
                <ng-container *ngFor="let btn of gridbtns">
                    <td *ngIf="!btn.ishide">
                        <button type="button" *ngIf="btn.title !='X'" class="btn btn-primary btn-sm" (click)="click(btn,row)">{{btn.title}}</button>
                        <button type="button" *ngIf="btn.title =='X'" class="btn btn-danger btn-sm" (click)="click(btn,row)">{{btn.title}}</button>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
    <div *ngIf='data && data.length==0' class="alert alert-info" role="alert">No record found!</div>
</div>