﻿
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<app>Loading...</app>
<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
  @if (@MyCache.GetCacheCommon != null)
  {
      <script>
          localStorage.setItem("token", "@MyCache.GetCacheCommon.Token")
      </script>
  }
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}



