﻿@{ 
    var keysearch = "";
    if (ViewBag.keySearch != null)
    {
      keysearch = ViewBag.keySearch;
    }

}
<form method="post" asp-action="Search" asp-controller="Post">
  <div class="card">
    <div class="card-header">@Localizer["Search"]</div>
    <div class="card-body">
      <div class="input-group">

        <input type="text" name="keysearch" value="@keysearch" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">@Localizer["Go"]</button>
        </span>

      </div>
    </div>
  </div>
</form>

