﻿@model PostModel 
  @{ 
      var isAuthen = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;
      int count = 0;
      var countComent = Model.Comments?.Count;
  }
<div>
  <h2> @Model.ShortDescription</h2>
  <div class="center margin-top-20 margin-bottom-20">
    <img style="width:600px; max-height:700px" src="/file/GetImageForPost?id=@Model.Id" />
  </div>
    <div>@Model.Content</div>
  <div class="div-name-author">
    @Localizer["Author"]: @userService.GetName(Model.CreatedBy.Value)
  </div>
</div>
<div class="name-comment">@Localizer["Your Comment"]</div>
<comment enable-send="true" rows="4" action="Comment" 
 controller="Post" method="post" IdPage="postId" ValueIdPage="@Model.Id"></comment>
@if (Model.Comments != null)
{
    <div class="name-comment margin-bottom-10">@Localizer["Total Comment(s)"] - (@Model.Comments.Count)</div>
  foreach (var item in Model.Comments)
  { 
        count++;
        <div class="margin-left-15">
          <div class="name-comment">@userService.GetName(item.CreatedBy.Value)</div>
          <div>@item.CommentDescription </div>
          <div class="character-italic-small-right">@item.CreatedDate</div>
        </div>
        if (count != countComent)
        {
           <hr class="margin-left-15" />
        }
  }
}
@section scripts{ 
  <script>
    $("#btnPost").click(function () {
      if ("@isAuthen" == "False")
      {
        alert("Please Login")
        return false;
      }
      return true;
    });
  </script>
}



