<div class='container-fluid'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>

        <div class='col-sm-9 body-content'>

          <div *ngIf="showMessage !=null" class="alert {{getClassMessage()}} alert-dismissible" style="margin-top:20px">
            <a class="close" (click)="closeAlert()" aria-label="close">&times;</a>
              {{showMessage.message}}
          </div>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>
