﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2> {{title}}</h2>
    <form [formGroup]="postForm" (submit)="savePost()" class="createpost" style="margin-bottom:10px">
        <label for="name">Category</label>
        <select formControlName="categoryId" class="form-control" value="">
          <option value="">Please select</option>
          <option *ngFor="let item of catogories" [value]="item.id">{{item.name}}</option>
        </select>
        <control-messages [control]="postForm.controls.categoryId" class="error-message"></control-messages>

        <label for="name">Short Description</label>
        <textarea class="form-control" rows="2" formControlName="shortDescription" id="shortDescription"></textarea>
        <control-messages [control]="postForm.controls.shortDescription" class="error-message"></control-messages>
        <label for="email">Content</label>
        <textarea rows="15" formControlName="content" id="content" class="form-control"></textarea>
        <control-messages [control]="postForm.controls.content" class="error-message"></control-messages>

        <label for="avatar">{{titleImage}}</label>
        <div class="form-control" style="width:100%;height:auto">
            <img src="{{getImage()}}" *ngIf="postModel!=null" style="width:150px; height:auto; max-height:200px; margin-bottom:10px" />
            <input type="file" #uploader (change)="fileChange(uploader.files)" placeholder="Upload Avatar">
        </div>

        <button type="submit" [disabled]="!postForm.valid" class="btn btn-primary" style="margin-top:10px">Save</button>
        <button [routerLink]="['/managerblogpost']" class="btn btn-success" style="margin-top:10px">Back List</button>
    </form>
</body>
</html>