﻿@model List<ListPostModel>;

<div style="margin-bottom:45px;">
  @foreach (var item in Model)
  {
      <div style="margin-bottom:50px">
        <h3> @item.ShortDescription </h3>
        <div>
          @item.Content ... <a class="btn btn-primary btn-link" asp-action="GetDetail" asp-controller="Post" asp-route-id="@item.Id">Go to detail</a>
        </div>
        <div style="font-size:11px;font-style:italic;text-align:right">
         Hoai Nhan - Posted @DateTime.Now
        </div>
        <div></div>
      </div>
  }
  @if (Model.Count == 0)
  {
      <div class="alert alert-info" role="alert">No record found!</div>
  }
  
</div>
