<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">BlogSimple</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/managercategory']">
                        <span class='glyphicon glyphicon-home'></span> Category
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/managerblogpost']">
                        <span class='glyphicon glyphicon-th-list'></span> Post
                    </a>
                </li>
              <li >
                <a href="/logout">
                  <span class='glyphicon glyphicon-log-out'></span> Logout
                </a>
              </li>
            </ul>
        </div>
    </div>
</div>
