﻿@page
@model BlogSimple.Pages.CreateUserModel
@{ 
    Layout = "_LayoutUser";
}

<h2 class="center margin-bottom-15">@Localizer["Create User"]</h2>
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="userModel.UserName" class="col-sm-2"></label>
        <div class="col-sm-10 form-group">
            <input type="text" asp-for="userModel.UserName" class="form-control">
            <span asp-validation-for="userModel.UserName" class="text-danger"></span>
        </div>

    </div>
    <div>
        <label asp-for="userModel.Email" class="col-sm-2 control-label"></label>
        <div class="col-sm-10 form-group">
            <input type="text" asp-for="userModel.Email" class="form-control">
            <span asp-validation-for="userModel.Email" class="text-danger"></span>
        </div>
    </div>
    <div>
        <label asp-for="userModel.FirstName" class="col-sm-2 control-label"></label>
        <div class="col-sm-10 form-group">
            <input type="text" asp-for="userModel.FirstName" class="form-control">
            <span asp-validation-for="userModel.FirstName" class="text-danger"></span>
        </div>
    </div>
    <div>
        <label asp-for="userModel.LastName" class="col-sm-2 control-label"></label>
        <div class="col-sm-10 form-group">
            <input type="text" asp-for="userModel.LastName" class="form-control">
            <span asp-validation-for="userModel.LastName" class="text-danger"></span>
        </div>
    </div>
    <div>
        <label asp-for="userModel.Password" class="col-sm-2 control-label"></label>
        <div class="col-sm-10 form-group">
            <input type="password" asp-for="userModel.Password" class="form-control">
            <span asp-validation-for="userModel.Password" class="text-danger"></span>
        </div>
    </div>
    <div>
        <label asp-for="userModel.CPassword" class="col-sm-2 control-label"></label>
        <div class="col-sm-10 form-group">
            <input type="password" asp-for="userModel.CPassword" class="form-control">
            <span asp-validation-for="userModel.CPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="center">
            <a href="./" class="btn btn-success">Cancel</a>
            <button type="submit" class="btn btn-danger">Register</button>
        </div>
    </div>
</form>
@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}