﻿@page
@model BlogSimple.Pages.ForgotPasswordModel
@{
    Layout = "_LayoutUser";
}
<h2 class="center margin-bottom-15" style="margin-right:100px">Forgot Password</h2>
<form method="post">
  @{
      foreach (var modelState in ViewData.ModelState.Values)
      {
        var errors = modelState.Errors;
        if (errors.Any())
        {
          foreach (ModelError error in errors)
          {
                  <p style="color:red">@error.ErrorMessage</p>
          }
        }
      }
  }
  <div asp-validation-summary="ModelOnly"></div>
  <div class="col-sm-8">

    <label asp-for="Email" class="col-sm-3"></label>
    <div class="col-sm-9 form-group">
      <input type="text" asp-for="Email" class="form-control">
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>

  </div>
  <div class="col-sm-8">
    <label asp-for="Password" class="col-sm-3 control-label"></label>
    <div class="col-sm-9 form-group">
      <input type="password" asp-for="Password" class="form-control">
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
  </div>
  <div class="col-sm-8">
    <label asp-for="RePassword" class="col-sm-3 control-label"></label>
    <div class="col-sm-9 form-group">
      <input type="password" asp-for="RePassword" class="form-control">
      <span asp-validation-for="RePassword" class="text-danger"></span>
    </div>
  </div>

  <div class="form-group col-sm-10">
    <div class="center">
      <a href="./" class="btn btn-danger">Cancel</a>
      <button type="submit" class="btn btn-success">Update</button> 
    </div>
  </div>
</form>
@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
