﻿@page
@model BlogSimple.Pages.LoginModel
@{ 
    Layout = "_LayoutUser";
}
<h2 class="center margin-bottom-15" style="margin-right:100px">@Localizer["Login"]</h2>
<form method="post">
    @{
        foreach (var modelState in ViewData.ModelState.Values)
        {
            var errors = modelState.Errors;
            if (errors.Any())
            {
                foreach (ModelError error in errors)
                {
                    <p style="color:red">@error.ErrorMessage</p>
                }
            }
        }
    }
    <div asp-validation-summary="ModelOnly"></div>
    <div class="col-sm-8">

        <label asp-for="UserName" class="col-sm-3"></label>
        <div class="col-sm-9 form-group">
            <input type="text" asp-for="UserName" class="form-control">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

    </div>
    <div class="col-sm-8">
        <label asp-for="Password" class="col-sm-3 control-label"></label>
        <div class="col-sm-9 form-group">
            <input type="password" asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group col-sm-10">
        <div class="center">
            <a href="./" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-success">Login</button>
          <br />
            <a href="./CreateUser" class="btn btn-link">Register</a>
          <br />
          <a href="./ForgotPassword" class="btn btn-link">Forgot Password</a>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}