﻿@page
@model BlogSimple.Pages.UpdateUserModel
@{
    Layout = "_LayoutUser";
}
<h2 class="center margin-bottom-15">Update User</h2>
@if (ViewData["Message"] != null)
{
    <div style="color:green">@ViewData["Message"].ToString()</div>
    ViewData.Remove("Message");
}

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="userModel.UserName" class="col-sm-2"></label>
        <div class="col-sm-10 form-group">
            <input type="text" asp-for="userModel.UserName" class="form-control">
            <span asp-validation-for="userModel.UserName" class="text-danger"></span>
        </div>
    </div>
    <div>
        <label asp-for="userModel.Email" class="col-sm-2 control-label"></label>
        <div class="col-sm-10 form-group">
            <input type="text" asp-for="userModel.Email" class="form-control">
            <span asp-validation-for="userModel.Email" class="text-danger"></span>
        </div>
    </div>
    <div>
        <label asp-for="userModel.FirstName" class="col-sm-2 control-label"></label>
        <div class="col-sm-10 form-group">
            <input type="text" asp-for="userModel.FirstName" class="form-control">
            <span asp-validation-for="userModel.FirstName" class="text-danger"></span>
        </div>
    </div>
    <div>
        <label asp-for="userModel.LastName" class="col-sm-2 control-label"></label>
        <div class="col-sm-10 form-group">
            <input type="text" asp-for="userModel.LastName" class="form-control">
            <span asp-validation-for="userModel.LastName" class="text-danger"></span>
        </div>
    </div>

    <input type="hidden" asp-for="userModel.Password" class="form-control">
    <input type="hidden" asp-for="userModel.CPassword" class="form-control">
    <input type="hidden" asp-for="userModel.Id" class="form-control">

    <div class="form-group">
        <div class="center">
            <a href="./" class="btn btn-success">Cancel</a>
            <button type="submit" class="btn btn-danger">Update</button>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}